---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octant Monitor</title>
    <link rel="stylesheet" href="styles.css">  <!-- Link to your CSS file -->
</head>
<body>

    {% include current_datetime.html %}

    <h1>Octant Aggregates</h1>

    {% include table_amounts.html %}

    {% include table_users.html %}

    <p>Note: patron mode not included (yet).</p>

    <h1>Locks and unlocks</h1>

    <img src="assets/octant_tx.png" width=1000px>

    <h1>Insights</h1>

    <h2>Epoch progress</h2>

    <div class="chart-container">
        <img src="assets/epoch_progress.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>Daily epoch progress'</h3>
            <p>Cummulative number of new users and daily new users.
            </p>
        </div>
    </div>


    <h2>User allocations</h2>

    <div class="chart-container">
        <img src="assets/allocations_epoch.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>Allocations per epoch</h3>
            <p>Average number of projects supported by users.
            </p>
        </div>
    </div>

    <div class="chart-container">
        <img src="assets/allocation_changes.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>Allocations per epoch</h3>
            <p>Average number of projects supported by users.
            </p>
        </div>
    </div>

    <h2>Distribution of donations</h2>

    <div class="chart-container">
        <img src="assets/allocation_budget_ratio.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>Allocation budget ratio</h3>
            <p>How much user's budget was allocated to projects (only users with allocations).
            </p>
        </div>
    </div>


    <div class="chart-container">
        <img src="assets/allocation_stacked_bar_charts.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>Breakdown of total allocations (donations)</h3>
            <p>xxx
            </p>
        </div>
    </div>

    <nav class="outline">
        <ul></ul>
    </nav>

    <script src="script.js"></script>
    
</body>
</html>