---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octant Monitor</title>
    <link rel="stylesheet" href="styles.css">  <!-- Link to your CSS file -->
</head>
<body>

    {% include current_datetime.html %}

    <h1>Octant Aggregates</h1>

    {% include table_amounts.html %}

    {% include table_users.html %}

    <h1>Key insights</h1>

    <div class="chart-container">
        <img src="assets/allocations_epoch.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>Allocations per epoch</h3>
            <p>Provide a detailed description of the chart here. Explain the data, trends, and any other relevant information that helps in understanding the chart.</p>
        </div>
    </div>
    
</body>
</html>