---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octant Monitor</title>
    <link rel="stylesheet" href="styles.css"> 
    <meta property="og:title" content="Octant Monitor">
    <meta property="og:description" content="Some cool Octant stats. Internal use only.">
    <meta property="og:image" content="assets/octant.png">
    <meta property="og:url" content="https://octant.build">
</head>
<body>

    {% include current_datetime.html %}

    <h1>Octant Aggregates</h1>

    {% include table_amounts.html %}

    {% include table_users.html %}

    <p>Note: patron mode not included (yet).</p>

    <h1>Locks and unlocks</h1>

    <img src="assets/octant_tx.png" width=1000px>

    <h1>Users</h1>

    <h2>(1.1) Epoch progress</h2>

    <div class="chart-container">
        <img src="assets/epoch_progress.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            {% capture content %}
            {% include content/text_1.1.md %}
            {% endcapture %}
            {{ content | markdownify }}
        </div>
    </div>

    <h2>(1.2) Daily New Users</h2>

    <div class="chart-container">
        <img src="assets/daily_users.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            {% capture content %}
            {% include content/text_1.2.md %}
            {% endcapture %}
            {{ content | markdownify }}
        </div>
    </div>

    <h2>(1.3) Epoch Turnout</h2>

    <div class="chart-container">
        <img src="assets/epoch_turnout.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            {% capture content %}
            {% include content/text_1.3.md %}
            {% endcapture %}
            {{ content | markdownify }}
        </div>
    </div>

    <h2>(1.4) Allocation Changes</h2>

    <div class="chart-container">
        <img src="assets/allocation_combined.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            {% capture content %}
            {% include content/text_1.4.md %}
            {% endcapture %}
            {{ content | markdownify }}
        </div>
    </div>

    <h2>(1.5) Distribution of Donations</h2>

    <div class="chart-container">
        <img src="assets/allocations_combined_charts.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            {% capture content %}
            {% include content/text_1.5.md %}
            {% endcapture %}
            {{ content | markdownify }}
        </div>
    </div>

    <h2>(1.6) User Types</h2>

    <div class="chart-container">
        <img src="assets/user_types.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            {% capture content %}
            {% include content/text_1.6.md %}
            {% endcapture %}
            {{ content | markdownify }}
        </div>
    </div>

    <h2>(1.7) Projects Supported</h2>

    <div class="chart-container">
        <img src="assets/projects_supported.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            {% capture content %}
            {% include content/text_1.7.md %}
            {% endcapture %}
            {{ content | markdownify }}
        </div>
    </div>

    <h1>Funding distribution</h1>
    
    <div class="chart-container">
        <img src="assets/qf_lin.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>QF vs linear funding</h3>
            <p> A good case for QF. If we applied linear distribution, only 7 projects would be funded.
            </p>
        </div>
    </div>

    <div class="chart-container">
        <img src="assets/scatter_plot.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>QF vs linear funding</h3>
            <p> A good case for QF. If we applied linear distribution, only 7 projects would be funded.
            </p>
        </div>
    </div>


    <div class="chart-container">
        <img src="assets/leverage_category.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>QF vs linear funding</h3>
            <p> A good case for QF. If we applied linear distribution, only 7 projects would be funded.
            </p>
        </div>
    </div>

    <div class="chart-container">
        <img src="assets/voting_power.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>QF vs linear funding</h3>
            <p> A good case for QF. If we applied linear distribution, only 7 projects would be funded.
            </p>
        </div>
    </div>


    <div class="chart-container">
        <img src="assets/proper_qf.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>Proper QF?</h3>
            <p> Epoch 5 comparable to Epoch 3.
            </p>
        </div>
    </div>

    <h1>Marketing campaigns</h1>

    {% include sankey_diagram.html %}

    <div class="chart-container">
        <img src="assets/campaign_monitor.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>Locking actitivy</h3>
            <p> Note: this does not include the addresses identified just before the AW.
            </p>
        </div>
    </div>

    <div class="chart-container">
        <img src="assets/e0e5.png" alt="Chart Image" class="chart-image">
        <div class="chart-description">
            <h3>E0 vs E5 Marketing Campaigns</h3>
            <p> No the steady decling in participation rates.
            </p>
        </div>
    </div>

    <nav class="outline">
        <ul></ul>
    </nav>

    <script src="script.js"></script>
    
</body>
</html>