.my-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.my-table th, .my-table td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 180px;
}

.my-table th {
    background-color: #f2f2f2;
    text-align: center; /* Center align header */
}

.my-table td {
    text-align: right; /* Right align all table body cells */
}

.my-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.my-table tr:hover {
    background-color: #ddd;
}

/* Optional: To ensure no scroll bar and full width */
.my-table {
    table-layout: fixed;
    width: 100%;
}

.my-table td, .my-table th {
    word-wrap: break-word;
}

/* Highlight the last row with a subtle green */
.my-table tr:last-child {
    background-color: #e0f7e0; /* Subtle green color */
}

.chart-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 400px;
}

.chart-image {
    width: 80%;
    max-width: 600px;
}

.chart-description {
    width: 20%;
    padding-left: 20px;
}

.outline {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 12%;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
    padding: 10px;
    height: 90vh;
    overflow-y: auto;
}

.outline ul {
    list-style-type: none;
    padding: 0;
}

.outline li {
    margin-bottom: 10px;
}

.outline a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.outline a.active {
    color: navy;
}

/* Specific styles for h2 links in the outline */
.outline a.h2-link {
    font-size: 0.75em;  /* Smaller font for h2 links */
    font-weight: normal;  /* Not bold */
    margin-left: 20px;  /* Indentation for hierarchical structure */
    margin-top: 5px;    /* Reduce the space above the h2 link in the nav */
    margin-bottom: 5px; /* Adjust space below the h2 link if needed */
}