
.container-lg {
    max-width: 1300px !important; /* Expand width */
}

.px-3 {
    padding-left: 8px !important;
    padding-right: 8px !important; /* Adjust padding */
}

.my-5 {
    margin-top: 16px !important;
    margin-bottom: 16px !important; /* Adjust margin */
}

.my-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.my-table th, .my-table td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 180px;
}

.my-table th {
    background-color: #f2f2f2;
    text-align: center;
}

.my-table td {
    text-align: right;
}

.my-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.my-table tr:hover {
    background-color: #ddd;
}

.my-table {
    table-layout: fixed;
    width: 100%;
}

.my-table td, .my-table th {
    word-wrap: break-word;
}

.my-table tr:last-child {
    background-color: #e0f7e0;
}

.chart-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 150px;
}

.chart-image {
    width: 75%;
    max-width: 1000px;
}

.chart-description {
    width: 25%;
    padding-left: 20px;
}

.outline {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 12%;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
    padding: 10px;
    height: 90vh;
    overflow-y: auto;
}

.outline ul {
    list-style-type: none;
    padding: 0;
}

.outline li {
    margin-bottom: 10px;
}

.outline a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.outline a.active {
    color: navy;
}

.outline a.h2-link {
    font-size: 0.75em;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
