<table border="1" class="dataframe my-table">
  <thead>
    <tr style="text-align: right;">
      <th>epoch</th>
      <th>potential_users</th>
      <th>allocators</th>
      <th>donors</th>
      <th>ga_beneficiaries</th>
      <th>turnout</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>515</td>
      <td>362</td>
      <td>347</td>
      <td>15</td>
      <td>0.703</td>
    </tr>
    <tr>
      <td>2</td>
      <td>586</td>
      <td>366</td>
      <td>332</td>
      <td>14</td>
      <td>0.625</td>
    </tr>
    <tr>
      <td>3</td>
      <td>603</td>
      <td>320</td>
      <td>285</td>
      <td>15</td>
      <td>0.531</td>
    </tr>
    <tr>
      <td>4</td>
      <td>593</td>
      <td>303</td>
      <td>279</td>
      <td>16</td>
      <td>0.511</td>
    </tr>
    <tr>
      <td>5</td>
      <td>898</td>
      <td>382</td>
      <td>364</td>
      <td>197</td>
      <td>0.425</td>
    </tr>
  </tbody>
</table>